:root {
  --color-primary:         #FA9600;
  --color-secondary:       #BABD8D;
  --color-bg:              #E6FAFC;
  --color-table-fill:      #ffffff;
  --color-table-header:    #CA6680;
  --color-accent-hover:    coral;
  --color-border:          #551B14;
  --color-text-base:       #12263a;
  --color-text-light:      #E6FAFC;
  --color-text-dark:       #020001;
  --color-link:            #7C6A0A;
  --color-link-visited:    #EB6424;
  --color-link-info:       #19297C;
  --color-link-info-visited: #CDC1FF;


  --space-sm:   5px;
  --space-md:   10px;
  --space-lg:   20px;


  --border-sm:  3px;
  --border-lg:  5px;
}
  body.dark-mode {
  --color-bg: #12263a;
  --color-text-base: var(--color-text-light);
  --color-primary: #7C6A0A;
  --color-secondary: #BE5103;
  --color-link: #EB6424;
  --color-link-visited: #7C6A0A;
  --color-table-header: #551B14;
  --color-border: #CA6680;
  --color-text-dark: #FA9600;
  --color-text-light: #E6FAFC;
  --color-table-fill:#020001; 
}